In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Adding all files into one DataFrame
df = []
for path in Path('./Train/Train').rglob('*.csv'):
    tmp = pd.read_csv(path)
    df.append(tmp)

df = pd.concat(df, ignore_index=True)

In [3]:
# Changing the weekday column from 'Monday'...'Sunday' to binary.
df = pd.get_dummies(df,columns=['weekday'])

In [4]:
df

,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,weekhour,...,short_profile_3h_diff_bikes,short_profile_bikes,bikes,weekday_Friday,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday
0,206,39.472030,-0.370965,24,1.412114e+09,2014,10,1,0,49,...,NaN,NaN,0.0,0,0,0,0,0,0,1
1,206,39.472030,-0.370965,24,1.412118e+09,2014,10,1,1,50,...,NaN,NaN,0.0,0,0,0,0,0,0,1
2,206,39.472030,-0.370965,24,1.412122e+09,2014,10,1,2,51,...,NaN,NaN,0.0,0,0,0,0,0,0,1
3,206,39.472030,-0.370965,24,1.412125e+09,2014,10,1,3,52,...,NaN,NaN,0.0,0,0,0,0,0,0,1
4,206,39.472030,-0.370965,24,1.412129e+09,2014,10,1,4,53,...,NaN,NaN,0.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55870,208,39.469056,-0.375728,34,1.414778e+09,2014,10,31,19,116,...,0.25,10.00,6.0,1,0,0,0,0,0,0
55871,208,39.469056,-0.375728,34,1.414782e+09,2014,10,31,20,117,...,-2.25,6.50,7.0,1,0,0,0,0,0,0
55872,208,39.469056,-0.375728,34,1.414786e+09,2014,10,31,21,118,...,-1.75,6.00,6.0,1,0,0,0,0,0,0
55873,208,39.469056,-0.375728,34,1.414789e+09,2014,10,31,22,119,...,-6.75,3.25,5.0,1,0,0,0,0,0,0
55874,208,39.469056,-0.375728,34,1.414793e+09,2014,10,31,23,120,...,-3.50,3.00,11.0,1,0,0,0,0,0,0