In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestRegressor

In [8]:
def replace_nan(df):
    # get a list of all the columns containing NaN
    nan_cols = df[df.columns[df.isnull().any()]].columns
    # compute and fill each NaN with the columns mean    
    df[nan_cols] = df[nan_cols].fillna(value=df[nan_cols].mean())

    
def show_nans(df):
#     print(np.unique(df['station']))
    print(df[df.columns[df.isnull().any()]].columns)
    print()
    

# converting weekdays into integers [1-7]
def convert_weekdays(df):
    df = df.replace(
    ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
    [1, 2, 3, 4, 5, 6, 7], inplace=True)

In [3]:
# Adding all files into one DataFrame
df = []
for path in Path('./Train/Train').rglob('*.csv'):
    tmp = pd.read_csv(path)
    # comment next line if not averaging NaNs  
#     show_nans(tmp)
    replace_nan(tmp)
    df.append(tmp)

df = pd.concat(df, ignore_index=True)

convert_weekdays(df)

# deleting unneeded columns
del df["month"]
del df["year"]

# comment next line if not dropping NaNs
# df = df.dropna(axis='rows')

# See all Rows/Cols
# pd.set_option('display.max_columns', 23)
pd.set_option('display.max_rows', 23)

In [9]:
test = pd.read_csv('test.csv')

Index([], dtype='object')

In [11]:
tmp

,Id,station,latitude,longitude,numDocks,timestamp,year,month,day,hour,...,windDirection.grades,temperature.C,relHumidity.HR,airPressure.mb,precipitation.l.m2,bikes_3h_ago,full_profile_3h_diff_bikes,full_profile_bikes,short_profile_3h_diff_bikes,short_profile_bikes
0,1,201,39.478178,-0.383541,27,1415149200,2014,11,5,2,...,202.5,12.1,62,1002.6,0.0,1,-2.000000,2.200000,-2.00,2.75
1,2,201,39.478178,-0.383541,27,1415469600,2014,11,8,19,...,202.5,17.2,43,1011.2,0.0,0,0.800000,4.400000,-0.25,4.00
2,3,201,39.478178,-0.383541,27,1415714400,2014,11,11,15,...,135.0,11.8,89,1004.0,0.0,15,-7.200000,3.800000,-8.00,4.50
3,4,201,39.478178,-0.383541,27,1415919600,2014,11,14,0,...,202.5,19.3,64,1010.5,0.0,3,0.166667,2.333333,1.75,3.50
4,5,201,39.478178,-0.383541,27,1416254400,2014,11,17,21,...,112.5,14.4,52,1011.6,0.0,0,1.166667,2.333333,2.25,3.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,2246,275,39.450273,-0.333363,15,1421301600,2015,1,15,7,...,157.5,8.2,73,1020.9,0.0,14,-2.733333,9.333333,-0.50,10.00
2246,2247,275,39.450273,-0.333363,15,1421539200,2015,1,18,1,...,157.5,6.8,51,1021.4,0.0,13,0.400000,10.866667,0.50,8.25
2247,2248,275,39.450273,-0.333363,15,1421859600,2015,1,21,18,...,180.0,10.8,53,1006.7,0.0,7,0.937500,8.187500,0.50,10.00
2248,2249,275,39.450273,-0.333363,15,1422061200,2015,1,24,2,...,202.5,6.9,45,1021.0,0.0,14,0.812500,11.812500,0.75,10.75
2249,2250,275,39.450273,-0.333363,15,1422374400,2015,1,27,17,...,135.0,18.3,33,1020.3,0.0,13,2.000000,9.687500,0.50,8.50

In [ ]:
df.isnull().any()

In [ ]:
forest = RandomForestRegressor(n_jobs=6)

forest.fit(df.iloc[:,:-1], df["bikes"])

In [ ]:
importances = forest.feature_importances_

imp_indexes = np.argsort(importances)[::-1]

print(df.columns[imp_indexes])
print(importances[imp_indexes])

In [ ]:

import matplotlib.pyplot as plt


fig = plt.figure(figsize=(16,8))
plt.scatter(df["bikes_3h_ago"], df["bikes"], alpha=0.5)
plt.show()

In [ ]:
import seaborn as sns

sns.jointplot(
    data=df,
    x="bikes_3h_ago", y="bikes",# hue="weekday",
    kind="kde"
)

# Baseline - bikes = bikes three hours ago

In [ ]:
uniques = np.unique(df["station"], return_counts=True)

There are very few datapoints for each station compared to the number of attributes

This means that ensemble models would rapidly over-parameterise

In [ ]:
df_station = df[df["station"] == 201]

plt.plot(df_station["timestamp"], df_station["bikes"])
%plt.plot(df_station["timestamp"], df_station["bikes_3h_ago"])